<header>
  <img src="{{shop.brand.logo | image_url}}" style="width:50px">
<h1 style="display: inline;">
    The Lumina Global Store
</h1>

<ul>
    {% for link in linklists.main-menu.links -%%}
        <li>
            {{ link.title | link_to: link.url }}
        </li>
    {%- endfor %}
</ul>
</header>